body {
    font-family: Arial, sans-serif;
    background-color: #e6e9f0;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bdc3c7;
}

.dropdown-container {
    background-color: transparent;
    border: none;
    border-width: 0;
}

.dropdown-container:focus-visible {
    outline: none;
}

.dropdown-container * {
    padding: 8px;
    background-color: #f1f1f1;
    cursor: pointer;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    display: none;
    margin: 0;
    margin-top: 10px;
}

@media screen and (min-width: 767px){
    header p {
        display: block;
    }
}

.account-button {
    cursor: pointer;
    background-color: #95a5a6;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
}

.account-button:hover {
    cursor: pointer;
    background-color: #7f8b8c;
}

/* nav bar */
nav {
    background-color: #dfe6e9;
}

nav div a {
    text-decoration: none;
    color: #2c3e50;
}

nav div a:hover {
    color: #28b2e9;
}

.nav_option {
    border: 1px solid black;
}

@media screen and (min-width: 767px){
    .nav_option {
        border: none;
        border-width: 0;
    }
}

.container {
    display: flex;
    padding: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

aside {
    flex: 0.5;
    padding: 10px;
}

.box {
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #bdc3c7;
}

.box img {
    width: 50%;
    height: auto;
    margin-left: 20%;
}

.large-news {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    max-height: 40%;
    margin-top: 0%;
    margin-bottom: 20px;

}

.large-news .box {
    max-width: 60%;
    height: 30%;
}

.large-news .box h2 {
    font-size: 40px;
}

.large-news .box p {
    font-size: 20px;
}

.btn-container-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.btn-container-aside button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #95a5a6;
    color: white;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #bdc3c7;
    padding: 10px;
    max-height: 40px;
}

footer a {
    color: #2c3e50;
}
